<app-navbar></app-navbar>
<br>
<h3 style="text-align: center;">Transaction History</h3>
<br>

<p style="padding-left: 1rem;">Account Type: Savings </p><br>
<p style="padding-left: 1rem;">Account Balance : ${{savingBalance}} </p><br>
<p style="padding-left: 1rem;">Account Number :{{accNo}} </p><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th style="text-align: center;">Date</th>
      <th style="text-align: center;">Transaction Id</th>
      <th style="text-align: center;">Action Type</th>
      <th style="text-align: center;">Amount </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList">
      <td style="text-align: center;">{{transaction.date}}</td>
      <td style="text-align: center;">{{transaction.id}}</td>
      <td style="text-align: center;">{{transaction.action}}</td>
      <td style="text-align: center;">${{transaction.amount}}</td>

    </tr>


  </tbody>
</table>