
<h1 class=bg-success style="text-align: center;"> Welcome to ICIN Bank</h1>
<nav class="navbar navbar-expand-sm  navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/home">ICIN Bank Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        

        <li class="nav-item">
          <a class="nav-link" href="{{adminUrl}}">Admin Login<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About<span class="sr-only"></span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us<span class="sr-only"></span></a>
        </li>
      </ul>
      
    </div>
  </nav>

<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <h3 style="text-align: center;">ICIN Bank Customer Login</h3>
    <br>
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.username.errors }" placeholder="Enter Username"/>
        <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
            <div *ngIf="fval.username.errors.required">Username is needed</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter password here" />
        <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
            <div *ngIf="fval.password.errors.required">Please enter a Password</div>
        </div>
    </div>

    <div class="form-group" style="text-align:center;">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>

        <a routerLink="/register" class="btn btn-primary bg-warning">Register</a>
    </div>
</form>
</div>